.list{
  list-style-type:none;
  font-size: 18px;
}
.heading{
  font-size: 30px;
  font-weight: bold;
}
button{
  background-color: white;
  border-width: 0px;
  border-radius: 3px;
  box-shadow: 0.6px 0.6px grey;
}